@import url('reset.css');

/* 
	Шукаємо (робимо запит), звертаємось 
	до ВСІХ об'єктів (тегів) на сторінці 
*/
*{
	color: blueviolet;
} 

/* 
	Шукаємо (робимо запит), звертаємось по назві тегу 
*/
a {
	color: rgb(239, 255, 21);
}
h1 {
	color: rgb(255, 136, 0);
}
/* 
	Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів H2 на сторінці 
*/
h2 {
	color: green;
}
/* 
	Шукаємо, звертаємось (робимо запит) по назві класу
*/
.title {
	color: coral;
}

/* 
	Шукаємо робимо запит по назві ID
	
*/
#geography {
	color: lightgreen;
}
/* 
	Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом  header
*/
.header > p {
	color: rgba(230, 255, 4, 0.788);
}
/*
	Усі теги P які знаходяться 
	далі по коду після об'єктів з класом title
	та мають той самий рівень вкладеності
*/
.title ~ p {
	color: rgba(13, 212, 226, 0.37);
}

/*
	Тег P який знаходяться беспосередньо 
	далі по коду після об'єктів з класом awards
	та мають той самий рівень вкладеності
*/
.awards + p {
    color: red;
}
/* 
	Шукає сполучення літер te в трибутах class	
*/

[class*="te"] {
	color: lightcoral;
}

/* Звертаємось до УСІХ тегів H1 на сторінці 
	АЛЕ лише тих які знаходяться в середені 
	будь-якого об'єкту з класом article 
*/
.awards h2 {
	color: rgb(253, 4, 212); 
}

/* 
	Усі DIV але лише з класом text
*/
div.text {
	color: brown;
}
/* Звертаємось до УСІХ об'єктів з класом item на сторінці 
	АЛЕ лише тих які знаходяться в середені 
	будь-якого об'єкту з класом list 
*/
.list .item {
	color: rgb(255, 58, 58); 
}

/* 
	Усі об'єкти в середені 
	об'єктів з класом .footer 
*/
.footer *{
	color:lightseagreen;
}